<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myedugear</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist&display=swap" rel="stylesheet">
</head>

<style>
    body {
        background: #C04848;
        background: -webkit-linear-gradient(to right, #480048, #C04848);
        background: linear-gradient(to right, #480048, #C04848);
        height: 100vh;
        font-family: 'Urbanist', sans-serif;
    }

    .card {
        max-width: 400px;
        margin: auto;
    }
</style>

<body>
    <div class="container d-flex h-100 align-center">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center">My Edu-Gear</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="card-body">

                <a type="button" class="btn btn-secondary col-6 float-left" href="login.html">Log In</a>
                <a type="button" class="btn btn-active col-6" href=#>Sign Up</a><br><br>

                <form>
                    <label>Name</label>
                    <input type="name" name="name" class="form-control"><br>

                    <label>Email ID</label>
                    <input type="email" name="email" class="form-control"><br>

                    <label>Password</label>
                    <input type="password" name="password" class="form-control"><br>

                    <input type="submit" name="" value="Sign Me Up!" class="btn btn-danger btn-block">
                </form>

            </div>
        </div>
    </div>
    <p class="text-center text-white">Copyright © My Edu-Gear 2021</p>
</body>

</html>
